<% include partials/header %>

<a href="logout" type="button" class="btn btn-danger btn-block">Log out</a>
<h1>Saranti gamiesai , pornh</h1>

<a href="management" type="button" class="btn btn-success btn-block">management</a>
<a href="search" type="button" class="btn btn-success btn-block">search</a>

<% include partials/footer %>
